*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
}
.upper-charts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.chart {
  background-color: black;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}

.pie-chart {
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.black {
  background: black;
}

/* Smartphone Version */

@media (max-width: 720px) {
  .wrapper {
    padding: 0 32px;
  }

  section h2 {
    font-size: 24px;
  }

  section h2::after {
    width: 50px;
    bottom: 0;
  }
}
